/* .padre{
    border:2px solid orange;
    background-color:rgb(6, 70, 109);
    width: 100%;
    height:89vh;
    display:flex;
    flex-direction: row;
    margin-top: 15px;
}
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 body {
     font-family: 'Roboto', sans-serif !important; /* Aplica la fuente Roboto */
 }
 
 .padre{
    /* border:2px solid orange; */
    width: 100%;
    height:79vh;
    display:flex;
    flex-direction: row;
}

h3{
    color:#0056b3;
    color: rgb(68, 117, 165);

}

.hijo{
    background-color:rgb(6, 70, 109);
    background-color: black;
    background-color: rgb(35, 35, 35);
    /* background-color: white; */
    /* background-color: black; */
    /* border: 2px solid greenyellow; */
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items:center;
    padding: 0px 0px 40px 0px;
}

h1{
    /* border: 2px solid red; */
    color:rgb(240, 239, 239);
    /* color:rgb(255, 251, 0); */
    margin-top:60px;

}

a{
    color:white;
    

}
.hijo2{
       /* border: 2px solid greenyellow; */
    height:70%;
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px 40px 0px;
    margin-top: 100px;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en la siguiente línea */

}


.hijo21{
    /* border: 2px solid greenyellow; */
 height:100%;
 width:30%;
 display:flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 padding: 0px 0px 40px 0px;
}




.card {
    background-color: white;
    border-radius: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 330px; /* Ancho de cada tarjeta */
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    width:270px;
}

.fecha{
font-weight: 700;
}

#pasado{
    background-color: rgb(178, 176, 176);
}

.card h2 {
    /* margin-bottom: 10px; */
    border-bottom: 2px solid #ccc; /* Línea debajo del título para separarlo visualmente */
}

h2{
    color:black;
    color:white;
    /* border: 2px solid green; */
    /* background-color:rgb(255, 221, 0); Color de fondo del botón */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 30%;
   

}

.card p {
    margin-bottom: 20px;
}

.card button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}


#Pau{
    height: 220px;
    width: 220px;
} 

#Agus{
    height: 220px;
    width: 190px;
}
