<div class="padre">
    
    <div class="hijo">
        <h1>ECET Reasearch process</h1>
        <div class="hijo2">
            <div class="card" id="pasado" >
                <h2>Step 1</h2>
                <h3>Design and pilot study</h3>
                <p>10/23 - 08/24</p>
                <p>A pilot study was conducted in which the ECET was developed and its psychometric functioning was evaluated.</p>
                <a href="https://www.linkedin.com/in/paula-mu%C3%B1oz-teno-4a5683306/">Summary of results</a>
            </div>

            <div class="card"  >
                <h2>Step 2</h2>
                <h3>Development of the study</h3>
                <p>10/24 - /06/25</p>
                <p>The pilot study will be replicated with a larger sample and by addressing its limitations</p>
                <a href="/contact">Do you want to collaborate?</a>

            </div>

            <div class="card" >
                <h2>Step 3</h2>
                <h3>Publication of the article</h3>
                <p>02/25-06/26</p>
                <p>The article will be prepared with the aim of disseminating the tool to ultimately improve the conditions of the university evaluation system.</p>
                <a href="/contact">Do you want to collaborate?</a>

            </div>

        




            



            


        </div>
    </div>

</div>

