<div class="padre">
    
    <div class="hijo">
        <h1>ECET Teamwork</h1>
        <div class="hijo2">
            <div class="card">
                <h2>Paula Muñoz Teno</h2>
                <img id="Pau" src="assets/img/Pau.jpg">
                <p>Psychologist graduated at Universidad Autónoma de Madrid (UAM)</p>
                <a href="https://www.linkedin.com/in/paula-mu%C3%B1oz-teno-4a5683306/">Linkedin</a>
            
            </div>
            <div class="card">
                <h2>Agustín Martínez Molina</h2>
                <img id="Agus" src="assets/img/Agus3.jpg">
                <p>General Research Coordinator (IMSERSO); Professor at Universidad Autónoma de Madrid (UAM)</p>
                <a href="https://www.linkedin.com/in/agust%C3%ADn-mart%C3%ADnez-molina-263a4b7/">Linkedin</a>
            </div>
        </div>
        <h2 class="preg">Do you want to collaborate?</h2>
        <a id="contact" href="/contact">Contact us</a>


    </div>

</div>

