<div class="padre">
    
    <div class="hijo">
       
            <div class="container">
                <h1>ECET Information</h1>
                <div class="card-container">
                    <div class="card">
                        <h2>What is ECET?</h2>
                        <p>A research project from the Universidad Autónoma de Madrid (UAM) that is developing a teaching support tool (the ECET) to efficiently create high-quality multiple-choice exams.</p>
                    </div>
                    <div class="card">
                        <h2>Why Does It Emerge?</h2>
                        <ul>
                            <li>Because there are no methods to evaluate the quality of exams before they are applied.</li>
                            <li>Because, in general, teachers have not received training to construct exams.</li>
                            <li>Because the exam construction process is not systematized or regulated.</li>
                            <li>To improve the conditions of the university evaluation system.</li>
                        </ul>
                    </div>
                    <div class="card">
                        <h2>Why Must It Continue?</h2>
                        <p>Due to the evidence of reliability and validity of the ECET obtained in the pilot study:</p>
                        <ul>
                            <li>ICC: 0.94</li>
                            <li>α: 0.74</li>
                            <li>R²: 0.64</li>
                            <li>Inter-rater reliability</li>
                            <li>Internal consistency</li>
                            <li>Predictive validity of ECET f(α)</li>
                        </ul>
                    </div>
                </div>
            </div>
        
    </div>

</div>

