<div class="padre">
    
    <div class="hijo">
        <h1>ECET PROJECT</h1>
        <h2>Support the progress, suport ECET</h2>
            <div class="container">
                <div class="card-container">
                    <div class="card">
                        <h2 class="H">What is ECET?</h2>
                        <p id="uam">A research project from the Universidad Autónoma de Madrid (UAM) that is developing a teaching support tool (the ECET) to efficiently create high-quality multiple-choice exams.</p>
                        <div class="button">
                            <label id="participation" for="email">To access to ECET tool:</label>
                            <a href="https://www.instagram.com/" target="_blank">
                                <button src="assets/img/linkedin.png"> Click here </button></a> 
                        </div>
                    </div>
                    <div class="card">
                        <h2  class="H">Why Does It Emerge?</h2>
                        <p>To improve the conditions of the university evaluation system.</p>
                        <ul>
                            <li>Because there are no methods to evaluate the quality of exams before they are applied.</li>
                            <li>Because, in general, teachers have not received training to construct exams.</li>
                            <li>Because the exam construction process is not systematized or regulated.</li>
                        </ul>
                    </div>
                    <div class ="card">
                        <h2  class="H">Why Must It Continue?</h2>
                        <p>Due to the evidence of reliability and validity of the ECET obtained in the pilot study:</p>
                        <div class="evidence">
                            <div class="evidence2">
                                <h4>Inter-rater reliability</h4>
                                <p class="evi">ICC: 0.94</p>
                            </div>
                            <div class="evidence2">
                                <h4>Internal consistency</h4>
                                <p class="evi">α: 0.74</p>
                            </div>
                            <div class="evidence2">
                                <h4>Predictive validity of ECET </h4>
                                <p class="evix">R²: 0.64</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>

</div>

