
    <div class="padre">
        <div class="hijo">
            <h1>ECET project: Teaching support tool for creating multiple-choice exams</h1>
            <h2>
                The improvement of the educational evaluation system depends on everyone. 
                Be part of the change, <span class="highlight">be ECET</span>.
            </h2>
            <div class="video-container">
                <video autoplay muted loop>
                    <source src="assets/videos/piensa2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
