

.header{
    background-color: white(0, 0, 0, 0.82);
    /* background-color: rgba(183, 196, 213, 0.915);
    background-color: rgb(198, 227, 166);
    background-color: black; */
    /* background-color: rgba(212, 202, 188, 0.516); */
    color:black;
    text-align: center;
    /* border:1px solid orange; */
    width: 100%;
    height: 120px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000; /* Asegúrate de que el z-index sea alto */
}

#title{
    color:white;
    /* color: rgb(177, 205, 220);
    color: rgb(198, 227, 166);
    color: black; */
    /* color:rgba(212, 202, 188, 0.412); */
    align-content: center;
    width: 50%;
}

.menu{
    /* border:1px solid greenyellow; */
    width: 50%;
    gap:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

a{
    color:black;
    /* color: white; */
    font-size: larger;
}

.active-link {
    color: rgba(39, 125, 172, 0.949); /* Color para el enlace activo */
    font-weight: bold; /* Opcional: hacer el texto en negrita */
    /* border-bottom: 2px solid rgb(154, 14, 14); Opcional: agregar una línea debajo */
}

#logo{
    /* border: 2px solid red; */
    height: 120px;
    width: 300px;
    margin-left: 100px;
    
}