<div class="header">
    <img id="logo" src="assets/img/logomari.png">
    <h1 id="title">My Books</h1>
    <div class="menu">
        <a routerLink="home" routerLinkActive="active-link">Home</a>
        <a routerLink="about" routerLinkActive="active-link">About</a>
        <a routerLink="research" routerLinkActive="active-link">Research</a>
        <a routerLink="teamWork" routerLinkActive="active-link">Team Work</a>
        <a routerLink="blog" routerLinkActive="active-link">Blog</a>
        <a routerLink="contact" routerLinkActive="active-link">Contact</a>

    </div>
</div>

