<div class="padre">
    
    <div class="hijo">
        <h1>ECET Blog</h1>
        <div class="hijo2">
              
            <div class="card">
                <div class="container">
                    <h3 class="name">Isidoro DelClaux Prize</h3>
                    <h5>15/11/24</h5>
                    <div class="image-container">
                        <img id="isi" src="assets/img/isi.jpeg">
                        <div class="hover-text">Third prize winner in the Isidoro DelClaux Research Competition, organized by the Faculty of Psychology at the Autonomous University of Madrid.</div>
                    </div>
                    <a href="https://docs.google.com/document/d/tu_documento_id" class="button" target="_blank">Read more</a>
                    
                </div>
            </div>

            <div class="card">
                <div class="container">
                    <h3 class="name">International Test Commision (ITC)</h3>
                    <h5>08/08/24</h5>
                    <div class="image-container">
                        <img id="ecet" src="assets/img/ecet (1).jpeg">
                        <div class="hover-text">Poster participation at ITC Granada 2024.</div>
                    </div>
                    <a href="https://docs.google.com/document/d/tu_documento_id" class="button" target="_blank">Read more</a>
                </div>
            </div>

    </div>
    </div>

</div>




        <!-- <h1>ECET blog</h1>
        <div class="hijo2">
            <div class="card">
                <h2>International Test Comission (ITC)</h2>
                <img id="Pau" src="assets/img/Pau.jpg">
                <p>Participation at ITC Granada 2024 </p>
                <a href="https://www.linkedin.com/in/paula-mu%C3%B1oz-teno-4a5683306/">To know more</a>
            
            </div>
            <div class="card">
                <h2>Premio Isidoro DelClaux</h2>
                <img id="Agus" src="assets/img/Agus3.jpg">
                <p id="p2">Third prize winner in the Isidoro DelClaux Research Competition, organized by the Faculty of Psychology at the Autonomous University of Madrid. </p>
                <a href="https://www.linkedin.com/in/agust%C3%ADn-mart%C3%ADnez-molina-263a4b7/">To know more</a>
            </div>
        </div> -->