body {
    font-family: 'Roboto', sans-serif !important; /* Aplica la fuente Roboto */
}

.padre {
    width: 100%;
    height:79vh;
    display: flex;
    flex-direction: row;
}

.hijo {
    background-color: rgb(6, 70, 109);
    background-color: black;
    background-color: rgb(35, 35, 35);
    /* background-color: #f0f0f0; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 0px 0px 40px 0px;
}

h1 {
    color: rgb(240, 239, 239);
    margin-top: 60px;
}

#isi #ecet{
    width: 400px;

}

.card{
    /* border:2px solid red; */
    width:450px;
    height: 550px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hijo2 {
    height: 60%;
    /* border: 2px solid red; */
    /* background-color: #f0eded; */
    border-radius: 15px;
    width: 90%;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px 40px 0px;
    margin-top: 60px;
}

.container {
    position: relative;
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.image-container {
    position: relative;
    width: 400px; /* Ancho de la imagen */
    overflow: hidden; /* Oculta el texto adicional fuera del contenedor */
}

.image-container img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    border-radius: 8px; /* Bordes redondeados */
}

h3{
    color:black;
    margin-top: 60px;
}

.hover-text {
    position: absolute;
    width: 200px;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: left 0.3s ease, opacity 0.3s ease; /* Transición suave */
    z-index: 2; /* Asegura que el texto esté por encima del filtro */
    opacity: 0; /* Oculta el texto inicialmente */
}

.image-container:hover .hover-text {
    opacity: 1; /* Muestra el texto adicional al pasar el ratón */
}

.image-container:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Filtro oscuro */
    z-index: 1; /* Asegura que el filtro esté por debajo del texto */
    transition: background-color 0.3s ease; /* Transición suave */
}

.button {
    display: inline-block; /* Hace que el enlace se comporte como un botón */
    margin-top: 10px; /* Espaciado superior */
    padding: 10px 20px; /* Espaciado interno */
    background-color: white; /* Color de fondo del botón */
    background-color:rgb(255, 221, 0); /* Color de fondo del botón */
        background-color:rgb(219, 214, 214) ; /* Color de fondo al pasar el ratón */

    color: black; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
    margin-bottom: 30px;
    margin-top: 50px;

}

.button:hover {
    background-color:rgb(219, 214, 214) ; /* Color de fondo al pasar el ratón */
    background-color: rgb(65, 122, 168);
}