@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif !important; /* Aplica la fuente Roboto */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.padre {
    width: 100%;
    height: 79vh;
    display: flex;
    flex-direction: row;
}

.hijo {
    background-color: rgb(6, 70, 109);
    background-color: black;
    background-color: rgb(35, 35, 35);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 0px 0px 40px 0px;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: rgb(255, 221, 0); /* Color de fondo del botón */
    color: black;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    margin: 10px 0;
}

.social-links a {
    color: #35424a;
    margin: 0 15px;
    text-decoration: none;
}

.hijo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch; /* Cambiado a stretch para que los formularios tengan la misma altura */
    width: 100%;
    padding-top: 40px;
}

.form-section {
    background: #ffffff;
    width: 25%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Cambiado a space-between para alinear los elementos */
    align-items: center;
    height: 620px;
    
}

h1 {
    color: rgb(240, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiado a flex-start para alinear los elementos al inicio */
    align-items: center;
    margin-top: 60px;
}

.H {
    color: black;
}



h2 {
    color: #35424a;
    margin: 0; /* Asegúrate de que no haya margen que afecte la alineación */
    padding-top: 30px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%; /* Aumenta el ancho a 90% o 100% según sea necesario */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    flex-direction: column; /* Alinea el enlace y el botón verticalmente */
    align-items: center; /* Centra el contenido */
    justify-content: center;
    margin-top: 10px; /* Espacio entre el enlace y el botón */
    margin-bottom: 25px;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    width: 150px; /* Ancho fijo para todos los botones */
    margin: 10px 0; /* Margen vertical para separación */
}

#coop {
    width: 250px;
    margin-top: 60px;
    margin-bottom: 50px;
}

#participation {
    margin-top: 80px;
}

.but {
    display: flex;
    flex-direction: column; /* Alinea el enlace y el botón verticalmente */
    align-items: center; /* Centra el contenido */
    justify-content: center;
    width: 100%;
}

.H {
    margin-bottom: 40px;
    color: rgb(10, 141, 207);
}

button:hover {
    background-color: rgb(255, 221, 0); /* Color de fondo del botón */
    background-color: rgb(65, 122, 168);

}