<div class="padre">
    
    <div class="hijo">
        <h1>Contact Us</h1>
            <div class="hijo2">
                <section class="form-section">
                    <h2>To Participate</h2>
                    <h4>You must be a PhD teacher</h4>
                    <form id="participate-form">
            

                        <div class="button-container" id="bc1">
                            <img id="coop" src="assets/img/coop.png" >

                            <label id="participation" for="email">To start Participation:</label>
                            
                            <a href="https://www.instagram.com/" target="_blank">
                                <button src="assets/img/linkedin.png"> Click here </button></a> 
                            
                            
                        </div>
                    </form>
                </section>

                <section class="form-section">
                    <h2>To Collaborate as an Investigator</h2>
                    <h4>You must be over 18 years old</h4>
                    <form id="motivation-form">
                        <div class="button-container" id="bc1">
                            <img id="coop" src="assets/img/participar.jpg" >

                            <label id="participation" for="email">To start Participation:</label>
                            
                            <a href="https://www.instagram.com/" target="_blank">
                                <button src="assets/img/linkedin.png"> Click here </button></a> 
                            
                        </div>
                    </form>
                </section>
            </div>

    </div>
    </div>



<!-- 

    <label for="first-name-motivation">First Name:</label>
                        <input type="text" id="first-name-motivation" name="first-name" required>

                        <label for="last-name-motivation">Last Name:</label>
                        <input type="text" id="last-name-motivation" name="last-name" required>

                        <label for="email-motivation">Email Address:</label>
                        <input type="email" id="email-motivation" name="email" required>

                        <label for="education">Highest Education:</label>
                        <input type="text" id="education" name="education" required>

                        <label for="message">Motivation Message:</label>
                        <textarea id="message" name="message" rows="4" required></textarea>

                        <div class="button-container">
                            <button type="button">Send response</button>
                        </div> -->
